@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Catamaran&family=Overpass+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: $uiLight;
  color: $uiColorPrimary;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


// header
.header {
  text-align: center;
  display: grid;
  background-color: $uiColorPrimary;
  color: $uiColorSecondary;
}

.headerTitle {
  position: relative;
  display: inline-block;
  font-weight: 900;
  font-size: 2em;
  font-style: italic;
  font-family: "Playfair Display script=latin rev=2", serif;
  margin: 24px;
}

.dayTitle {
  margin: 64px 0;
  transform: rotate(-1deg);
}

// day
.dayBody {
  margin: 64px 0;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.dayTitle {
  margin: 64px 0;
  transform: rotate(-1deg);
}

.dayText {
  position: relative;
}

.dayText * *, .dayTitle * * {
  display: inline-block;
}

// formating
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Playfair Display script=latin rev=2", serif;
}

p {
  font-size: 1.5em !important;
}

h1 {
  font-size: 5em !important;
}
h2 {
  font-size: 4em !important;
}
h3 {
  font-size: 3em !important;
}
h4 {
  font-size: 2em !important;
}
h5 {
  font-size: 1.5em !important;
}
h6 {
  font-size: 1em !important;
}


blockquote {
  font-family: 'Playfair Display', serif;
  display: inline-block;
}

blockquote::before {
  content: '"';
  font-family: 'Catamaran', sans-serif;
  display: inline-flex;
  font-size: 15em;
  font-weight: 800;
  opacity: 0.3;
  position: relative;
  top: 120px;
  left: -30px;
  line-height: 0;
  width: 0;
}

blockquote p, blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
  display: inline;
}

code {
  font-family: 'Overpass Mono', monospace;
  background: hsl(240, 3%, 23%);
  color: hsl(0, 0%, 81%);
  padding: 9px;
}