@import 'variables';
@import 'hightlight';
@import '~@mdi/font/css/materialdesignicons.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Catamaran&family=Overpass+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: $uiLight;
  color: $uiDarkSecondary;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


// header
.header {
  text-align: center;
  display: grid;
  background-color: $uiColorBackground;
  color: $uiColorText;
}

.headerTitle {
  position: relative;
  display: inline-block;
  font-weight: 900;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 4px;
  font-family: "Playfair Display script=latin rev=2", serif;
  margin: 24px;
}

// day
.dayTitle {
  margin: 64px;
  transform: rotate(-1deg);
  letter-spacing: 3px;
}

.container {
  margin: 64px;
  position: relative;
  color: $uiColorText
}

.container.center {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.containerThin {
  margin: 64px;
}

@media (min-width: 700px) {
  .dayText, .dayTitle, .container {
    margin: 64px auto;
    width: 600px;
  }
  .containerThin {
    margin: 64px auto;
    width: 500px;
  }
}

@media (min-width: 900px) {
  .dayText, .dayTitle, .container {
    width: 800px;
  }
  .containerThin {
    width: 600px;
  }
}


@media (min-width: 1100px) {
  .dayText, .dayTitle, .container {
    width: 1000px;
  }
}

.dayText * *, .dayTitle * *, .headerTitle *, .headerSubtitle * {
  display: inline-block;
}

// forecast

.forecastContainer {
  margin: 16px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.forecastTable {
  display: inline-block;
  margin: 16px;
  text-align: left;
}

.forecastTable a {
  text-decoration: unset;
}

.forecastTable .row {
  margin: 32px;
}

.forecastTable .col {
  width: 300px;
  margin: 4px;
  padding: 24px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  color: $uiDark
}

.forecastTable .col.date {
  font-weight: 100;
  font-size: 1em;
  text-align: right;
  text-overflow: unset;
  color: $uiLightSecondary2;
}

.forecastTable .col.title {
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  font-style: italic;
  font-family: "Playfair Display script=latin rev=2", serif;
}

.forecastTable .col.text {
  font-weight: 100;
  font-size: 1.3em;
}

@media (max-width: 1300px) {
  .forecastTable .row {
    margin: unset;
  }

  .forecastTable .col {
    display: block;
    width: 300px;
    margin: 0;
  }

  .forecastTable .col.date, .forecastTable .col.text {
    text-align: center;
  }
}

// formatting
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Playfair Display script=latin rev=2", serif;
}

p {
  font-size: 1.3em !important;
  font-weight: 100;
}

table p {
  font-size: 1em !important;
  font-weight: 100;
}

h1 {
  font-size: 5em !important;
  margin: 42px 0;
}
h2 {
  font-size: 4em !important;
  margin: 32px 0;
}
h3 {
  font-size: 3em !important;
  margin: 24px 0;
}
h4 {
  font-size: 2em !important;
  margin: 16px 0;
}
h5 {
  font-size: 1.5em !important;
  margin: 16px 0;
}
h6 {
  font-size: 1em !important;
  margin: 16px 0;
}

h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.emoji {
  height: 16px;
  display: inline;
}

h1 .emoji {
  height: 72px;
}
h2 .emoji {
  height: 46px;
}
h3 .emoji {
  height: 32px;
}
h4 .emoji {
  margin: 0 4px;
  height: 26px;
}
h5 .emoji {
  margin: 0 4px;
  height: 21px;
}
h6 .emoji {
  margin: 0 4px;
  height: 16px;
}

blockquote {
  font-family: 'Playfair Display', serif;
  display: inline-block;
}

blockquote * {
  display: inline;
}

blockquote::before {
  content: '"';
  font-family: 'Catamaran', sans-serif;
  display: inline-flex;
  font-size: 15em;
  font-weight: 800;
  opacity: 0.3;
  position: relative;
  top: 120px;
  left: -30px;
  line-height: 0;
  width: 0;
}

span.spoiler {
  padding: 0 4px;
  color: $uiDarkSecondary;
  background-color: $uiDarkSecondary;
}

span.spoiler:hover {
  color: $uiLightSecondary;
}

h1 sup, h2 sup, h3 sup {
  font-size: 0.5em;
}

mark {
  padding: 0 4px;
  background-color: $uiColorText;
  color: $uiColorBackground;
}

code {
  font-family: 'Overpass Mono', monospace;
  background: $uiLightSecondary;
  color: $uiDarkSecondary2;
  padding: 9px;
  display: inline-block;
}

pre code {
  text-align: left;
  display: inline-block;
}

.header code {
  background: var(--uiColorText);
  color: var(--uiColorBackground);
}

button, .button {
  display: inline-block;
  position: relative;
  margin: 6px;
  border: none;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: italic;
  background: $uiLightSecondary;
  color: $uiDarkSecondary2;
  padding: 9px 24px;
  text-decoration: none;
}

button.inverted, .button.inverted {
  background: $uiDarkSecondary2;
  color: $uiLightSecondary;
}

button:hover, .button:hover {
  cursor: pointer;
}

button a, .button a {
  background: $uiLightSecondary;
  color: $uiDarkSecondary2;
  text-decoration: none;
}

button.inverted a, .button.inverted a {
  background: $uiDarkSecondary2;
  color: $uiLightSecondary;
}

ul, ol {
  padding: unset;
}

li {
  counter-increment: section;
  display: block !important;
  margin: 16px
}

li::before {
  font-family: 'Catamaran', sans-serif;
  display: inline-flex;
  font-weight: 800;
  opacity: 0.3;
  position: relative;
  font-size: 2em;
  line-height: 0;
  width: 0;
}

ol li:before {
  content: '#' counter(section);
  left: -24px;
  top: -2px;
}

ul li::before {
  content: '>';
  left: -21px;
  top: 1px;
}

.badge {
  font-family: 'Overpass Mono', monospace;
  font-weight: normal;
  font-style: italic;
  font-size: 0.8em;
  background: $uiLightSecondary;
  color: $uiDarkSecondary2;
  padding: 9px;
}

.badge.color {
  background: $uiColorText;
  color: $uiColorBackground;
}

.badge.border {
  background-color: unset;
  border: solid 2px;
}

//other

a {
  color: $uiColorText
}

a .plain {
  text-decoration: unset !important;
  color: unset !important;
}

table {
  display: table !important;
  text-align: left;
}

td {
  padding: 12px;
  vertical-align: top;
  line-height: 18px;
  line-height: 2em;
}

.detailsBody td:first-child {
  font-size: 1.2em;
}

.detailsBody td:not(td:first-child) {
  font-family: 'Overpass Mono', monospace;
}

th {
  padding: 12px;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
  font-family: "Playfair Display script=latin rev=2", serif;
  text-align: left;
  background-color: $uiLightSecondary;
}

tr:nth-child(even) {
  background-color: $uiLightSecondary;
}

.colorPreview {
  display: inline-block !important;
  min-width: 12px;
  min-height: 12px;
  margin: 0 6px;
  border-radius: 50%;
}

// footer

.footerContainer {
  text-align: center;
  display: block;
  padding-top: 63px;
}

.footer {
  background-color: $uiLightSecondary;
  color: $uiDarkSecondary3;
  display: inline-block;
  margin: 32px;
  padding: 23px 42px;
  letter-spacing: 1.5px;
}

.footerSection {
  padding: 6px;
}

.footerText {
  margin: 0 6px;
  line-height: 24px;
}

.navButton {
  color: $uiDarkSecondary3;
  text-decoration: underline;
  padding: 6px;
  margin: 4px;
  display: inline-block;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.loadingContainer {
  margin: auto;
  padding: 84px 0;
  justify-content: center;
  text-align: center;
}

.loadingSpinner {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 6px;
  background-color: $uiLightSecondary2;
  border-radius: 12%;
}