@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

body {
  margin: 0;
  background-color: $uiBackground;
  color: $uiText;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5em;
}

blockquote {
  border-left: solid 4px rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  padding: 0 16px;
  display: inline-block;
}

.dayContainer {
  text-align: center;
  justify-content: center;
}

